
.container-body {
  font-family: "Arial", sans-serif;
  color: ;
}

.h1, .h2, {
  font-family: "Palatino", serif;
  color: #74BF04;
}

.h3, .h4, {
  font-family: "Palatino", serif;
  color: #E9DA0F;
}

.h5, .h6 {
  font-family: "Palatino", serif;
  color: #6F6E48
}

/*.col-8 {
    background-image: url('orange_bird.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
 }*/

 .transparent {
    background-color: transparent;
 }