
body {
  font-family: "Arial", sans-serif;
  color: ;
}

h1, h2, {
  font-family: "Palatino", serif;
  color: #E86168;
}

h3, h4, {
  font-family: "Palatino", serif;
  color: #FF7F6B;
}

h5, h6 {
  font-family: "Palatino", serif;
  color: #262626;
}

.inner-container {
    background-image: url('birds.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
 }

 .transparent {
    background-color: transparent;
 }