{% extends 'base.html' %}

{% block title %}Past Logs{% endblock %}

{% block content %}
<h1>Here's a birds eye view of your past logs!</h1>
<h2> Which birding experience would you like to see?</h2>


{% for log in user_logs %}
    <div> 
        <a href="/view_past_log/{{ log.log_id }}">
            Date: {{ log.date }} / Location: {{ log.location }} 
        </a> 
    </div>
{% endfor %}


<!-- // FIXME: Right now, if you put in dates out of order (for whatever reason) -->
<!-- // they don't show up ordered. Fix it. -->

<a href="/homepage">Return to homepage</a>
{% endblock %}