{% extends 'base.html' %}

{% block title %}Past Logs{% endblock %}

{% block content %}
<h1>Which log are you looking for?</h1>


<form action="/change_password" method="POST">

    <label>
        Current Password
        <input type="password" name="password" required class="form-control"><br>
    </label> 

    <label>
        New Password
        <input type="password" name="new_password" required class="form-control"><br>
    </label> 

    <label>
        Verify New Password
        <input type="password" name="new_password_check" required class="form-control"><br>
    </label> 

    <input type="submit" value="Submit!" class="btn btn-danger">

</form>


<a href="/homepage">Return to homepage</a>
{% endblock %}