{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Please enter the fields bellow to change your password!</h1>


<form action="/change_password" method="POST">

    <label for="password">Current Password</label>
    <input type="password" name="password" id="password" required><br>
    
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required><br>

    <label for="new_password_check">Verify New Password</label>
    <input type="password" name="new_password_check" id="new_password_check" required><br>
     
    <input type="submit" value="Submit!">

</form>

<a href="/homepage">Return to homepage</a>
{% endblock %}