{% extends 'base.html' %}

{% block title %}Past Logs{% endblock %}

{% block content %}
<h1>Which log are you looking for?</h1>


<form action="/change_password" method="POST">

    <label for="password">Current Password</label>
    <input type="password" name="password" id="password" required class="form-control"><br>
    
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required class="form-control"><br>

    <label for="new_password_check">Verify New Password</label>
    <input type="password" name="new_password_check" id="new_password_check" required class="form-control"><br>
     
    <input type="submit" value="Submit!" class="btn btn-danger">

</form>


<a href="/homepage">Return to homepage</a>
{% endblock %}