
{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div>

    <div class="row">

        <div class="col-8">
        
            <div class="text-center">
                <img src="static/images/white_eye.jpg" alt="White Eye" class="main-image">
            </div>

        </div>

        <div class="col-4">
            <div class="card border-primary">
                <h2 class="card-header text-primary">Contact me at: </h2>

                <h4 class="text-secondary"> <a href="/https://www.linkedin.com/in/susanna-annie-lyons/">LinkedIn,</a> <a href="/https://github.com/AnnieLyons">GitHub,</a> or SusannaRLyons@gmail.com </h4>
                </div>
            </div>
         </div>
          

    </div>

<div>

{% endblock %}