
{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div>

    <div class="row">

        <img src="static/images/white_eye.jpg" alt="White Eye" class="main-image col-8">

        <div class="col-4">
            <div class="card border-primary">
                <h2 class="card-header text-primary">Contact me at: </h2>

                <ul>
                    <li><a href="/https://www.linkedin.com/in/susanna-annie-lyons/">LinkedIn</a></li>
                    <li><a href="/https://github.com/AnnieLyons">GitHub</a></li>
                    <li><a href="mailto:SusannaRLyons@gmail.com">Email</a></li>
                </ul>
            </div>
         </div>
          

    </div>

<div>

{% endblock %}