{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div>

    <div class="row">

        <div class="col-4">
            <div class="card border-primary">    
                <h2 class="card-header text-primary">Thanks to:</h2>

                <h4 class="text-secondary">-Birds in logs provided by: <a href="http://checklist.aou.org/">American Ornithological Society</a></h4>

                <h4 class="text-secondary">-Birds recently reported in your area provided by: <a href="https://ebird.org/home"> eBird: Cornell Lab of Ornithology</a></h4>

                <h4 class="text-secondary">-Puffin Photo by Pascal Mauerhofer on Unsplash </h4>
                <h4 class="text-secondary">-Puffin Pair Photo by Wynand van Poortvliet on Unsplash </h4>
                <h4 class="text-secondary">-King Fisher Photo by Gabriele Agrillo on Unsplash</h4>
                <h4 class="text-secondary">-Linnet Photo by flevo birdwatching on Unsplash </h4>
                <h4 class="text-secondary">-Penguins Photo by Dušan Smetana on Unsplash </h4>
                <h4 class="text-secondary">-Snowy Owl Photo by Todd Steitle on Unsplash</h4>
                <h4 class="text-secondary">-Cardinal Photo by Bruce Jastrow on Unsplash </h4>
                <h4 class="text-secondary">-Cardinal and Chickadee Photo by Erin Wilson on Unsplash </h4>
                <h4 class="text-secondary">-Blue Tit Photo by dfkt on Unsplash </h4>
                <h4 class="text-secondary">-Blue and White Sparrows Photo by Dulcey Lima on Unsplash: </h4>
                <h4 class="text-secondary">-Common Waxbill Photo by Julia Craice on Unsplash </h4>
                <h4 class="text-secondary">-Baya Weaver Photo by Mohan Moolepetlu on Unsplash</h4>
                <h4 class="text-secondary">-Flame-colored Tanager Photo by Morgan on Unsplash </h4>
                <h4 class="text-secondary">-Red-Billed hornbill Photo by Photos By Beks on Unsplash</h4>
                <h4 class="text-secondary">-Great Crested Grebe Photo by Matthijs van Heerikhuize on Unsplash</h4>
                <h4 class="text-secondary">-Yellow Warbler Photo by TR Davis on Unsplash </h4>
                <h4 class="text-secondary">-White Eye Photo by Boris Smokrovic on Unsplash </h4>
                <h4 class="text-secondary">-Parrots Photo by Jonah Pettrich on Unsplash </h4>
                <h4 class="text-secondary">-"Blue Birds"/ Photo by Julian Dutton on Unsplash </h4>
            </div>
         </div>
          <div class="col-8">
        
            <div class="text-center">
                <img src="/static/images/cardinal.jpg" alt="Cardinal" class="main-image">
            </div>

        </div>

    </div>

<div>

{% endblock %}