{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card border-primary">    
            <h2 class="card-header text-primary">Special thanks to:</h2>

            <ul>
                <li><h4 class="text-secondary"><a href="https://hackbrightacademy.com/">The Hackbright Academy Staff</a></h4></li>

                <li><h5 class="text-secondary">List of birds provided by <a href="http://checklist.aou.org/">American Ornithological Society</a></h5></li>

                <li><h5 class="text-secondary">Bird sighting data provided by <a href="https://ebird.org/home"> eBird: Cornell Lab of Ornithology</a></h5></li>

                <li><h6 class="text-secondary">"Four Blue Birds" Photo by Julian Dutton on Unsplash </h6></li>
                <li><h6 class="text-secondary">Baya Weaver Photo by Mohan Moolepetlu on Unsplash</h6></li>
                <li><h6 class="text-secondary">Blue and White Sparrows Photo by Dulcey Lima on Unsplash: </h6></li>
                <li><h6 class="text-secondary">Blue Tit Photo by dfkt on Unsplash </h6></li>
                <li><h6 class="text-secondary">Cardinal and Chickadee Photo by Erin Wilson on Unsplash </h6></li>
                <li><h6 class="text-secondary">Cardinal Photo by Bruce Jastrow on Unsplash </h6></li>
                <li><h6 class="text-secondary">Common Waxbill Photo by Julia Craice on Unsplash </h6></li>
                <li><h6 class="text-secondary">Flame-colored Tanager Photo by Morgan on Unsplash </h6></li>
                <li><h6 class="text-secondary">Great Crested Grebe Photo by Matthijs van Heerikhuize on Unsplash</h6></li>
                <li><h6 class="text-secondary">King Fisher Photo by Gabriele Agrillo on Unsplash</h6></li>
                <li><h6 class="text-secondary">Linnet Photo by flevo birdwatching on Unsplash </h6></li>
                <li><h6 class="text-secondary">Parrots Photo by Jonah Pettrich on Unsplash </h6></li>
                <li><h6 class="text-secondary">Penguins Photo by Dušan Smetana on Unsplash </h6></li>
                <li><h6 class="text-secondary">Puffin Pair Photo by Wynand van Poortvliet on Unsplash </h6></li>
                <li><h6 class="text-secondary">Puffin Photo by Pascal Mauerhofer on Unsplash </h6></li>
                <li><h6 class="text-secondary">Red-Billed hornbill Photo by Photos By Beks on Unsplash</h6></li>
                <li><h6 class="text-secondary">Snowy Owl Photo by Todd Steitle on Unsplash</h6></li>
                <li><h6 class="text-secondary">White Eye Photo by Boris Smokrovic on Unsplash </h6></li>
                <li><h6 class="text-secondary">Yellow Warbler Photo by TR Davis on Unsplash </h6></li>
                <li><h6 class="text-secondary">Laurel icon by Francesco Cesqo Stefanini from the Noun Project</h6></li>
            </ul>
        </div>
    </div>
    <div class="main-image col-12 col-md-8 col-lg-8 text-center text-danger">
        <img src="/static/images/cardinal.jpg" alt="Cardinal" class="main-image" style="height: inherit;">
        <h6> In loving memory of Ruth Laurel Lyons</h6>
    </div>
</div>

{% endblock %}