{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

 
<div>

    <div class="row">

        <div class="col-4">
            <div class="card border-primary">
                <h2 class="card-header text-primary">Hello {{ user.fname }}!</h2>
                <h5 class="card-body text-secondary">Welcome to Laurel,<br/>where birding awaits.</h5>
            </div>
        </div>

        <div class="col-8">
        
        <div class="text-center">
            <img src="/static/images/warbler.jpg" alt="Yellow Warbler" class="main-image">
        </div>

        </div>

    </div>


  </div>

{% endblock %}