{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card border-primary">
            <h2 class="card-header text-primary">Hello {{ user.fname }}!</h2>
            <h5 class="card-body text-secondary">Welcome to Laurel,<br/>where birding awaits.</h5>
        </div>
    </div>
    <img src="/static/images/warbler.jpg" alt="Yellow Warbler" class="main-image col-12 col-md-8 col-lg-8">
</div>

{% endblock %}