

{% extends 'base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
 
<div>

    <div class="row">

        <div class="col-4">
            <div class="card border-primary">    
                <h2 class="card-header text-primary">Welcome back!</h2>
                <form action="/login" method="POST">

                  <label for="email">Your Email:</label>
                    <input type="email" name="email" id="email" required><br>
                    
                  <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required><br>

                    <input type="submit" value="Submit!">

                </form>
            </div>    
        </div>

        <div class="col-8">
        
            <div class="text-center">
                <img src="/static/images/puffin_pair.jpg" alt="Puffins" class="main-image">
            </div>

        </div>

    </div>

<div>

{% endblock %}