{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

<div>
    <h2>Welcome back to Laurel!</h2>
    <form action="/login" method="POST">

      <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>
        
      <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>

        <input type="submit" value="Submit!">

    </form>
    <a href="/">Return to Welcome Page</a>
</div>

{% endblock %}