{% extends 'base.html' %}

{% block title %}New Log{% endblock %}

{% block content %}
<h1>Lets make a new log entry!</h1><br>

<form action="/new_log_entry" method="POST">

  <label for="date">Date</label>
    <input type="date" name="date" id="date"><br>

   <label for="time">Time</label>
    <input type="time" name="time" id="time"><br>

   <label for="location">Location</label>
    <input type="text" name="location" id="location" required><br>

   <label for="weather">Weather</label>
    <input type="text" name="weather" id="weather"><br>

   <label for="habitat">Habitat</label>
    <input type="text" name="habitat" id="habitat"><br>

   <label for="equipment">Equipment</label>
    <input type="text" name="equipment" id="equipment"><br>

   <label for="notes">Notes</label>
    <textarea name="notes" id="notes"></textarea><br> 
  
  <label for="bird_select">Birds Seen</label>
    <input type="text" id="bird_select" size="100">
    <input type="hidden" name="bird_select_ids" id="bird_select_ids">  
       
  <!-- <select name="bird_select" id="bird_select" multiple> -->
    <!-- {% for bird in birds %} -->
    <!-- <option value="{{ bird.bird_id }}">{{ bird.species }}</option> -->
    <!-- {% endfor %} -->
  <!-- </select> -->
  
  <br>
    <input type="submit" value="Submit!">
</form>

<a href="/homepage">Return to homepage</a>

<script type="text/javascript">
  $('#bird_select')
    // don't navigate away from the field on tab when selecting an item
    .on( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
          $( this ).autocomplete( "instance" ).menu.active ) {
        event.preventDefault();
      }
    })
    .autocomplete({
    source: (request, response) => {
      const terms = split(request.term);

      $.getJSON('/bird_search', {"search_term": terms.pop()}, (data) => {
        data = data.filter(item => !terms.includes(item.label));

        response(data);
      });
    },
    select: (event, ui) => {
      const terms = split($('#bird_select').val());

      terms.pop();
      terms.push(ui.item.label);
      terms.push("");
      $('#bird_select').val(terms.join(", "));

      // FIXME: Right now, if you remove a bird from your list, it will not get
      // removed from the id list. This sucks. Fix it.
      
      const ids = split($('#bird_select_ids').val());
      ids.push(ui.item.value);
      $('#bird_select_ids').val(ids.join(","));

      return false;
    },
    focus: () => {
      return false;
    }
  });

  const split = val => {
    if (val.length === 0) {
      return [];
    }

    return val.split( /,\s*/ )
  };
</script>

{% endblock %}