{% extends 'base.html' %}

{% block title %}New Log{% endblock %}

{% block content %}
<h1>Let birding commence!</h1><br>

<form action="/new_log_entry" method="POST">

  <label for="date">Date</label>
    <input type="date" name="date" id="date"><br>

   <label for="time">Time</label>
    <input type="time" name="time" id="time"><br>

   <label for="location">Location</label>
    <input type="text" name="location" id="location" required><br>

   <label for="weather">Weather</label>
    <input type="text" name="weather" id="weather"><br>

   <label for="habitat">Habitat</label>
    <input type="text" name="habitat" id="habitat"><br>

   <label for="equipment">Equipment</label>
    <input type="text" name="equipment" id="equipment"><br>

   <label for="notes">Notes</label>
    <textarea name="notes" id="notes"></textarea><br> 
  
  <label for="bird_select">Birds Seen</label>
  <select name="bird_select" id="bird_select" multiple="multiple"></select>
  
  <br>
    <input type="submit" value="Submit!">
</form>

<a href="/homepage">Return to homepage</a>

<script type="text/javascript">
  $('#bird_select').select2({
    ajax: {
      url: '/bird_search',
      dataType: 'json',
      method: 'GET',
      data: (params) => {
        return {'search_term': params.term}
      }
    },
    placeholder: "Search for bird name.",
    width: "500px"
  });
</script>

{% endblock %}