{% extends 'base.html' %}

{% block title %}Registration Form{% endblock %}

{% block content %}

<h1>Register</h1>

<form action="register" method="POST">

  
  <div class="form-group">
    <label>
      First Name
      <input type="text" name="first name" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Last Name
      <input type="text" name="last name" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
        Email
        <input type="email" name="email" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>
      Password
      <input type="password" name="password" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-danger">
  </div>

</form>

{% endblock %}