{% extends 'base.html' %}

{% block title %}Registration Form{% endblock %}

{% block content %}

<h1>Register</h1>

<form action="/register" method="POST">

  <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name"><br>

  <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name"><br>

  <label for="email">Email</label>
      <input type="email" name="email" id="email" required><br>

  <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>

  <input type="submit" value="Submit">

</form>

{% endblock %}