{% extends 'base.html' %}

{% block title %}Resources{% endblock %}

{% block content %}
<h1>Check out these resources:</h1>

<h3>For help identifying birds by sight: <a href="https://www.birds.cornell.edu/home/">Cornell University: Dept of Ornithology</a></h3>

<h3>For help identifying bird songs: <a href="https://nationalzoo.si.edu/scbi/migratorybirds/education/nasongkey.pl">PWRC: Guide to North American Bird Songs and Sounds</a></h3>

<h3>For help identifying bird eggs: <a href="https://thebirdersreport.com/egg-and-nest-identification">The Birders Report: Egg and Nest Identification</a></h3>


<a href="/homepage">Return to homepage</a>
{% endblock %}