{% extends 'base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
 
<div>

    <div class="row">

        <div class="col-4 bg-info">
            <div class="card border-primary">
                <h2 class="card-header text-primary">Welcome to Laurel,</h2>
                <h4 class="text-secondary">Where birding awaits!</h4>
            </div>    
        </div>
                
        <img src="/static/images/baya_weaver.jpg" alt="Baya Weaver" class="main-image col-8">

    </div>

<div>

{% endblock %}